# Arquivos de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes Virtuais (caso você use no futuro)
venv/
env/
.env

# Arquivos do Sistema Operacional (Windows / Mac)
Thumbs.db
.DS_Store

# Configurações de Editores e IDEs (VS Code, PyCharm, etc)
.vscode/
.idea/
*.swp
